*
 {
 margin:0;
 padding:0;
 font-family:sans-serif;
 }

.hero 
 {
  width:100%;
  height:100%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(leaf.jpeg);
  background-position:center;
  background-size:cover;
  position:absolute;
 }
.form-box
 {
  width:380px;
  height:480px;
  position:relative;
  margin:6% auto;
  background:#fff;
  padding:5px;
  overflow:hidden;
 }
.button-box
 {
  width:220px;
  margin:35px auto;
  position:relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius:30px;
 }
.toggle-btn
 {
 padding:10px 30px;
 cursor:pointer;
 background:transparent;
 border:0;
 outline:none;
 position:relative;
 }

#btn {
 top:0;
 left:0;
 position:absolute;
 width:110px;
 height:100%;
 background:linear-gradient(to right, #ff105f, #ffad06);
 border-radius:30px;
 transition: 0.5s;
     }

.social-icons 
 {
  margin:30px auto;
  text-align:center;
 }
.social-icons img 
 {
  width:30px;
  margin:0 12px;
  box-shadow:0 0 20px 0 #7f7f7f3d;
  cursor:pointer;
  border-radius:100%;
 }

.input-group
 {
  top:180px;
  position:absolute;
  width:280px;
  transition:0.5s;
 }
.input-field
 {
  width:100%;
  padding:10px 0;
  margin:5px 0;
  border-left:0;
  border-top:0;
  border-right:0;
  border-bottom: 1px solid #999;
  outline:none;
  background:transparent;
 }
.submit-btn
 {
  width:85%;
  padding:10px 30px;
  cursor:pointer;
  display:block;
  margin:auto;
  background:linear-gradient(to right, #ff105f, #ffad06);
  border:0;
  outline:none;
  border-radius:30px;
 }
.check-box
 {
 margin:30px 10px 30px 0;
 }
span {
  color:#777;
  font-size:12px;
  bottom:68px;
  position:absolute;
  }
#login {
   left:50px;
  }
#register {
  left:450px;
  }







